In [2]:
# Dependencies
import pandas as pd

In [3]:
# The path to our CSV file
public_schools = "data/Public_Schools.csv"
single_family_housing = "data/Zip_Zhvi_SingleFamilyResidence.csv"

# Read our public school data into pandas
ps_df = pd.read_csv(public_schools)
ps_df.head()

#read out single family housing data into pandas
fl_sfh_df = pd.read_csv(single_family_housing)
fl_sfh_df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,NaN,NaN,NaN,...,1365272,1364535,1357186,1354644,1343961,1336894,1333066,1334392,1343701,1351552
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,359973.0,358681.0,358365.0,...,967517,966429,967322,967450,967003,966057,965021,963959,964246,966092
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,NaN,NaN,NaN,...,1506127,1494778,1481698,1470185,1461983,1457776,1454757,1454081,1460325,1465530
3,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,198909.0,197774.0,197109.0,...,335155,335051,335418,335480,335596,335547,335395,335309,334819,334762
4,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,542574.0,540261.0,540278.0,...,1201189,1200418,1201438,1201133,1199177,1197266,1194983,1193391,1193661,1196524

In [4]:
#Pull out the Florida Public Schools
fl_ps_df = ps_df.loc[ps_df["STATE"] == "FL"]

print(len(fl_ps_df))
fl_ps_df.head()

4426

,X,Y,OBJECTID,NCESID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_METHOD,VAL_DATE,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,DISTRICTID,FT_TEACHER,SHELTER_ID
26,-80.395561,27.299188,7131,1.201770e+11,MANATEE ACADEMY K-8,1450 SW HEATHERWOOD BLVD,PORT ST LUCIE,FL,34986,2039,...,IMAGERY/OTHER,2016-03-16T00:00:00.000Z,http://www.stlucie.k12.fl.us/MAN/,1,1374,KG,8,1201770,92,10783010
29,-81.888046,26.555410,7134,1.201080e+11,FLORIDA SOUTHWESTERN COLLEGIATE HIGH SCHOOL,8099 COLLEGE PKWY,FT MYERS,FL,33919,5566,...,IMAGERY/OTHER,2012-11-15T00:00:00.000Z,http://www.fsw.edu/wp/lchs/,3,362,9,12,1201080,10,NOT AVAILABLE
53,-81.422091,28.383831,7158,1.201440e+11,JOHN YOUNG ELEMENTARY,12550 MARSFIELD AVE,ORLANDO,FL,32837,8531,...,IMAGERY/OTHER,2016-03-14T00:00:00.000Z,www.ocps.net/lc/southwest/ejy,1,736,PK,5,1201440,51,NOT AVAILABLE
101,-80.349017,25.935564,7207,1.200390e+11,MATER ACADEMY LAKES MIDDLE SCHOOL,17300 NW 87TH AVE,HIALEAH,FL,33015,3516,...,IMAGERY,2010-06-15T00:00:00.000Z,http://www.dadeschools.net,2,867,6,8,1200390,32,NOT AVAILABLE
141,-80.244758,26.707160,7247,1.201500e+11,ROYAL PALM BEACH ELEMENTARY SCHOOL,11911 OKEECHOBEE BLVD,ROYAL PALM BEACH,FL,33411,5008,...,IMAGERY,2010-06-28T00:00:00.000Z,www.edline.net/pages/Royal_Palm_Beach_ES,1,615,PK,5,1201500,45,NOT AVAILABLE

In [5]:
#reduce the number of columns
fl_ps_df = fl_ps_df.loc[:, ["NAME", "ADDRESS", "CITY",
                            "STATE", "ZIP", "WEBSITE", "LEVEL_", "ENROLLMENT", 
                            "ST_GRADE", "END_GRADE", "DISTRICTID", "FT_TEACHER", "SHELTER_ID"]]

fl_ps_df.head(10)

,NAME,ADDRESS,CITY,STATE,ZIP,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,DISTRICTID,FT_TEACHER,SHELTER_ID
26,MANATEE ACADEMY K-8,1450 SW HEATHERWOOD BLVD,PORT ST LUCIE,FL,34986,http://www.stlucie.k12.fl.us/MAN/,1,1374,KG,8,1201770,92,10783010
29,FLORIDA SOUTHWESTERN COLLEGIATE HIGH SCHOOL,8099 COLLEGE PKWY,FT MYERS,FL,33919,http://www.fsw.edu/wp/lchs/,3,362,9,12,1201080,10,NOT AVAILABLE
53,JOHN YOUNG ELEMENTARY,12550 MARSFIELD AVE,ORLANDO,FL,32837,www.ocps.net/lc/southwest/ejy,1,736,PK,5,1201440,51,NOT AVAILABLE
101,MATER ACADEMY LAKES MIDDLE SCHOOL,17300 NW 87TH AVE,HIALEAH,FL,33015,http://www.dadeschools.net,2,867,6,8,1200390,32,NOT AVAILABLE
141,ROYAL PALM BEACH ELEMENTARY SCHOOL,11911 OKEECHOBEE BLVD,ROYAL PALM BEACH,FL,33411,www.edline.net/pages/Royal_Palm_Beach_ES,1,615,PK,5,1201500,45,NOT AVAILABLE
152,LOVELL ELEMENTARY,815 ROGER WILLIAMS RD,APOPKA,FL,32703,www.ocps.net/lc/north/elv,1,730,PK,5,1201440,46,NOT AVAILABLE
166,RAYMOND B. STEWART MIDDLE SCHOOL,38505 10TH AVE,ZEPHYRHILLS,FL,33542,WWW.PASCO.K12.FL.US,2,933,6,8,1201530,68,10824023
170,OLD KINGS ELEMENTARY SCHOOL,301 OLD KINGS RD S,FLAGLER BEACH,FL,32136,www.flaglerschools.com,1,1096,PK,6,1200540,70,10783062
179,CARTER PARRAMORE ACADEMY,631 S STEWART ST,QUINCY,FL,32351,http://www.gcps.k12.fl.us/,4,224,4,12,1200600,13,10783587
186,KINGSWAY ELEMENTARY SCHOOL,23300 QUASAR BLVD,PORT CHARLOTTE,FL,33980,http://www.yourcharlotteschools.net/,1,645,PK,5,1200240,47,10782926

In [6]:
# Remove all rows that aren't located in Florida
fl_sfh_df = fl_sfh_df.loc[fl_sfh_df["State"] == "FL", :]
fl_sfh_df.head(2)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02
17,71831,32162,The Villages,FL,The Villages,Sumter County,18,111507.0,111544.0,111474.0,...,278141,279138,279977,281249,282423,283668,284454,285030,285625,286752
79,72463,33160,Sunny Isles Beach,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,80,303421.0,302238.0,301635.0,...,873916,873579,873098,873947,873773,873285,872098,871078,870056,873206

In [7]:
#reduce the number of columns
fl_sfh_df = fl_sfh_df.loc[:, ["RegionID", "RegionName", "City",
                            "State", "Metro", "CountyName", "SizeRank", "2019-01", 
                            "2019-02", "2019-03", "2019-04", "2019-05", "2019-06",
                             "2019-07", "2019-08", "2019-09", "2019-10", "2019-11", 
                            "2019-12"]]

fl_sfh_df.rename(columns={'RegionName':'ZIP'}, inplace=True)


fl_sfh_df.head(20)

,RegionID,ZIP,City,State,Metro,CountyName,SizeRank,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
17,71831,32162,The Villages,FL,The Villages,Sumter County,18,274274,275668,276358,277247,278141,279138,279977,281249,282423,283668,284454,285030
79,72463,33160,Sunny Isles Beach,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,80,893068,887026,880864,876367,873916,873579,873098,873947,873773,873285,872098,871078
81,73221,34787,Winter Garden,FL,Orlando-Kissimmee-Sanford,Orange County,82,341194,342235,342870,342288,342540,343069,343973,345255,346432,347501,348522,349822
90,72578,33411,Royal Palm Beach,FL,Miami-Fort Lauderdale-West Palm Beach,Palm Beach County,91,331390,330940,330620,330675,331379,331545,331840,332086,332266,332600,333436,334301
96,72363,33025,Miramar,FL,Miami-Fort Lauderdale-West Palm Beach,Broward County,97,311007,311646,311594,311888,311784,312566,312693,313064,313953,315348,316306,316681
101,72442,33139,Miami Beach,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,102,1938707,1924053,1913987,1901372,1895519,1890786,1886369,1879594,1874652,1872594,1870553,1869164
133,71864,32210,Jacksonville,FL,Jacksonville,Duval County,134,146561,146678,147107,147865,148616,149466,150002,150695,151436,152418,153162,154060
147,72901,33908,Fort Myers,FL,Cape Coral-Fort Myers,Lee County,148,351681,351734,350783,351939,351266,351032,351680,352680,353202,352747,352330,351876
157,72362,33024,Pembroke Pines,FL,Miami-Fort Lauderdale-West Palm Beach,Broward County,158,298864,299789,300014,300619,300891,302090,302756,303504,304567,306000,306757,306892
167,72737,33647,Tampa,FL,Tampa-St. Petersburg-Clearwater,Hillsborough County,168,312908,313060,312498,312435,313412,314301,315085,315356,315435,315844,316520,317456
191,73014,34135,Bonita Springs,FL,Cape Coral-Fort Myers,Lee County,192,358150,357912,356306,357351,356597,356411,357082,357847,358369,357879,357697,357192
212,71871,32218,Jacksonville,FL,Jacksonville,Duval County,213,186690,187207,187900,188696,189166,189984,190532,191202,191688,192524,193061,193821
215,71902,32256,Jacksonville,FL,Jacksonville,Duval County,216,329637,328981,328826,329137,329010,329366,329649,330198,330489,330959,331002,331573
222,73183,34711,Clermont,FL,Orlando-Kissimmee-Sanford,Lake County,223,269141,270694,271121,270764,271009,272220,273023,273470,273758,274988,277262,278979
229,72347,33009,Hallandale,FL,Miami-Fort Lauderdale-West Palm Beach,Broward County,230,272120,273043,273947,274871,276226,277515,278267,278749,279604,280236,280356,280384
245,71895,32244,Jacksonville,FL,Jacksonville,Duval County,246,165534,166004,166679,167621,168381,169383,169949,170664,171370,172275,172894,173714
260,72247,32822,Orlando,FL,Orlando-Kissimmee-Sanford,Orange County,261,206397,207565,208213,207934,208142,208492,209176,210186,211339,212436,213365,214177
264,73233,34953,Port Saint Lucie,FL,Port St. Lucie,Saint Lucie County,265,233012,233587,234065,235760,236580,236918,237283,237887,238697,239331,239728,240068
266,72488,33186,The Crossings,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,267,345175,344722,344833,345051,345490,346221,346926,347717,348493,349696,350204,350592
269,72350,33012,Hialeah,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,270,356141,356154,356687,357273,358126,359417,360478,361597,362574,363986,364602,365332

In [11]:
fl_sfh_df['tmp'] = 1
fl_ps_df['tmp'] = 1

merged_df = pd.merge(fl_sfh_df, fl_ps_df, on=['tmp'])
merged_df = merged_df.drop('tmp', axis=1)

merged_df.head()

,RegionID,ZIP_x,City,State,Metro,CountyName,SizeRank,2019-01,2019-02,2019-03,...,STATE,ZIP_y,WEBSITE,LEVEL_,ENROLLMENT,ST_GRADE,END_GRADE,DISTRICTID,FT_TEACHER,SHELTER_ID
0,71831,32162,The Villages,FL,The Villages,Sumter County,18,274274,275668,276358,...,FL,34986,http://www.stlucie.k12.fl.us/MAN/,1,1374,KG,8,1201770,92,10783010
1,71831,32162,The Villages,FL,The Villages,Sumter County,18,274274,275668,276358,...,FL,33919,http://www.fsw.edu/wp/lchs/,3,362,9,12,1201080,10,NOT AVAILABLE
2,71831,32162,The Villages,FL,The Villages,Sumter County,18,274274,275668,276358,...,FL,32837,www.ocps.net/lc/southwest/ejy,1,736,PK,5,1201440,51,NOT AVAILABLE
3,71831,32162,The Villages,FL,The Villages,Sumter County,18,274274,275668,276358,...,FL,33015,http://www.dadeschools.net,2,867,6,8,1200390,32,NOT AVAILABLE
4,71831,32162,The Villages,FL,The Villages,Sumter County,18,274274,275668,276358,...,FL,33411,www.edline.net/pages/Royal_Palm_Beach_ES,1,615,PK,5,1201500,45,NOT AVAILABLE